*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    
}
ิbody{
    perspective: 1px;
    width: 100%;
    height: 100%;  
    line-height: 1.6em;
    letter-spacing: 2px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    background-color: gray;
}
header{
    background-image: url(/img/home/10.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header ul{
    float: right;
    list-style-type:none ;
    margin-top: 10px;
    margin-right: 20px;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: white;
    padding :5px 20px;
    border:1px solid white transparent;
    transition: 0.6s ease;
}
header ul li a:hover{
    background-color: #fff;
    color: #000000; 
}
header ul li.active a{
    background-color: #fff;
    color: #000000;
}
.main{
    padding: 30px;
    max-width:1200px;
    margin:auto;
}
.main  img{
    max-width: 100%;
    transition: transform 2s;
}
.main img:hover  {
    transform: scale(1.2);
} 
.botton{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border:1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
#contact .btn:hover{
    background-color: rgb(23, 6, 173);
    color: #f1f1f1; 
}
#contact{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: Arial, Helvetica, sans-serif;
}
#contact h1{
    margin-top: 0;
    font-weight: 200;
    padding: 20px;
}
#contact .txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.txtb label{
    display: block;
    color: #333;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
}
.txtb input,.txtb textarea{
    width: 100%;
    border: none;
    background:none;
    outline:none;
    font-size: 18px;
    margin-top: 6px;
}
#contact .btn{
    padding:14px 0px;
    display: block;
    background-color: rgb(0, 158, 158);
    text-transform:uppercase;
    width:100%;
    margin-top:8px ;
}
#infro{
    font-family: century;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 0.1px;
    line-height: 1.6em;
    background-color: white;
    color:#800000;
    padding-bottom: 100px;
}
#infro h1{
    font-size: 60px;
    letter-spacing: 4px;
    font-weight:100;
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
#infro h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-weight:100;
    padding: 20px;
    color: black;
}
#infro p {
    color: gray;
    padding: 20px;
}