*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    
}
ิbody{
    perspective: 1px;
    width: 100%;
    height: 100%;  
    line-height: 1.6em;
    letter-spacing: 2px;
    text-align: left;
    font-size: 16px;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.0)), url(/img/home/07.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
header ul{
    float: right;
    list-style-type:none ;
    margin-top: 10px;
    margin-right: 20px;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: white;
    padding :5px 20px;
    border:1px solid white transparent;
    transition: 0.6s ease;
}
header ul li a:hover{
    background-color: #fff;
    color: #000000; 
}
header ul li.active a{
    background-color: #fff;
    color: #000000;
}
.main{
    padding: 30px;
    max-width:1200px;
    margin:auto;
}
.main  img{
    max-width: 100%;
    transition: transform 2s;
}
.main img:hover  {
    transform: scale(1.2);
} 
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: black;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contact{
    color: black;
    position: absolute;
    text-align: center;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contact h3{
    color: white;
    padding-top: 15px;
}
.contact h4{
    color: white;
    line-height:1.6em;
}
 
.container{
    padding-top:100px ;
    padding-left: 50px;
    padding-bottom: 100px;
    width: 1280;
    background: #000;
    margin: 70 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgbox {
    position: relative;
}
.container .box .imgbox img{
    max-width: 100%;
    transition: transform 2s;
}
.container .box:hover .imgbox img{
    transform: scale(1.2);
} 